/* CSS Document */
body,div,ul,li,h1,h2,h3,a,img,p,table,tr,td{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}
ul{ list-style:none;}
.clear-line{ clear:both; height:0px;}

body{ background:#f2f7f8;}
.banner{
	background:#6194bc;
	width:auto;
	height:100px;
	border-bottom:1px solid #ffffff;
	}
.banner .ban_cont{
	width:920px;
	margin:0 auto;
	}
.banner .ban_cont .logo{
	width:270px;
	float:left;
	padding-top:10px;
	}
.banner .ban_cont .nava{
	width:650px;
	float:right;
	padding-top:34px;
	}
.banner .ban_cont .nava ul{
	margin:0;
	padding-top:21px;
	}
.banner .ban_cont .nava a{
	color:#fff;
	display:block;
	height:45px;
	text-decoration:none;
	}
.banner .ban_cont .nava a:hover{
	color:#CCC;
	}
.banner .ban_cont .nava .cur{
    color:#6194bc;
	background:url(../images/nava-button-cur.png) no-repeat;
	}
.banner .ban_cont .nava ul li{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#ffffff;
	width:162px;
	height:45px;
	line-height:45px;
	float:left;
	background: url(../images/nava-button.png) no-repeat;
	}

.content{
	width:920px;
	height:auto;
	margin:0 auto;
	}
.content .con_left{
	background:#ececec;
	padding-top:50px;
	width:268px;
	height:650px;
	float:left;
	border-left:1px solid #e0e4dc;
	border-right:1px solid #e0e4dc;
	border-bottom:1px solid #e0e4dc;
	}
.content .con_left p{
	font-size:20px;
	text-align:center;
	line-height:36px;
	color: #606060;
	padding:30px 20px 0px 20px;
	}
.content .con_left .p-btn-upload a{
	display:block;
	margin:0px auto;
	width:130px;
	height:38px;
	background:url(../images/btn-up.png) 0px 0px;	
	}
.content .con_left .p-btn-upload a:hover{
	background:url(../images/btn-up.png) 0px -38px;	
	}
.content .con_left .p-btn-upload .a-click{
	background:url(../images/btn-up.png) 0px -76px;	
	}
.con_left .upload-queue{
	margin:20px auto;
	width:242px;
	height:auto;
	background:#ffffff;
	}
.con_left .upload-queue span{
	font-weight:bold;
	color:#F90;
	}
.con_left .upload-queue .progress-bg{
	background:url(../images/progress-bg.png) no-repeat;
	}
.progressBarInProgress{
	background:url(../images/progress.png) no-repeat;
	padding-top:10px;
	}
.progressBarStatus{
	font-weight:bold;
	color:#F90;
	font-size:12px;
}
.progressName{
	color: #6E7374;
	font-size:12px;
	overflow: hidden;
}
.progressContainer{
	border-bottom: 1px solid #EAEFE7;
    padding: 10px;
	position: relative;
}
a.progressCancel{
    background: url("../images/upload-del.png") no-repeat scroll 0 0 transparent;
    height: 18px;
	position: absolute;
    right: 6px;
    top: 6px;
    width: 18px;
}
#divStatus{
color: #fff;
font-size: 14px;
font-weight: bold;
line-height: 18px;
}


.con_left .upload-queue .list{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:7px 10px;
	height:18px;
	line-height:18px;
	background:url(../images/up-list-title.png) no-repeat;
	position:relative;
	}
.con_left .upload-cancel{
	border:none;
	width:32px;
	height:18px;
	right:0px;
	background:url(../images/cancel-all.png) no-repeat;
	position:absolute;
	}
.con_left .upload-queue ul li{
	font-size:12px;
	color:#6e7374;
	padding:10px;
	position:relative;
	border-bottom:1px solid #eaefe7;
	}
.con_left .upload-queue .del{
	display:block;
	width:18px; 
	height:18px; 
	background:url(../images/upload-del.png) no-repeat;
	position:absolute; 
	right:6px; 
	top:6px;
	}
.content .con_right{
	background:#ffffff;
    border: 1px solid #e5edde;
	width:648px;
	min-height:700px;
    height:auto;
	float:right;
	}
.content .con_right .photo .photo-cell{
	width:120px; 
	height:170px; 
	padding:40px 21px 0px; 
	float:left; 
	text-align:center;
	}
.content .con_right .photo .photo-cell-img{
	border:1px solid #e2e2e2; 
	padding:2px; 
	width:120px; 
	height:120px; 
	position:relative;
	}
.content .con_right .photo .photo-cell-img img{
	border:1px solid #e2e2e2; 
	padding:2px; 
	position:absolute; 
	top:-4px; 
	left:-4px;
	}
.content .con_right .photo .photo-cell-til{
	height:40px; 
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	}
.content .con_right .photo .photo-cell a{
	color:#007aff;
	text-decoration:none;
	}
.content .con_right .photo-list .pic-toolbar{
	padding:10px 20px;
	height:34px;
	line-height:54px;
	color:#797d7e;
	background:#f7faf4;
	border-bottom:1px solid #e0e4dc;
	}
.content .con_right .photo-list .pic-toolbar a{
	display:block;
	text-decoration:none;
	float:left; 
	height:34px;
	padding-right:20px;
	text-align:center; 
	line-height:34px;
	font-weight:bold;
	}
.content .con_right .photo-list .pic-toolbar span{
	display:block;
	float:right; 
	height:34px;
	width:160px;
	padding-right:20px;
	line-height:34px;
	font-size:13px;
	font-weight:bold;
	color:#3C6;
	}
.content .con_right .photo-list .pic-toolbar .sp-back{
	width:60px;
	background:url(../images/toolbar-back.png) no-repeat;
	}
.content .con_right .photo-list .pic-toolbar .sp-back:hover{
	background:url(../images/toolbar-back.png) 0px 34px;
	}
.content .con_right .photo-list .pic-toolbar .sp-select{
	width:104px;
	color:#666;
	background:url(../images/toolbar-select.png) no-repeat;
    font-size:small;
	}
.content .con_right .photo-list .pic-toolbar .sp-select:hover{
	color:#333;
	}
.content .con_right .photo-list .pic-toolbar .sp-dow{
	width:125px;
	color:#218598;
	background:url(../images/toolbar-dow.png) no-repeat;
    font-size:small;
	}
.content .con_right .photo-list .pic-toolbar .sp-dow:hover{
	color:#218656;
	}
.content .con_right .photo-list .video-cell{
	position:relative;
}
.content .con_right .photo-list .pic-content{
	padding:10px;
	}
.content .con_right .photo-list .pic-content-cell{
	width:100px;
	height:auto;
	float:left;
	padding:8px;
	}
.content .con_right .photo-list .pic-content-cell img{
	padding:2px;
	border:1px solid #e2e2e2;
	}
.content .con_right .photo-list .pic-content-cell p{
	display:block;
	text-align:center;
	height:30px;
	line-height:30px;
	}

.content .con_right .video-cell span{
	display:block; 
	width:90px;
	height:27px;
	text-align:right;
	line-height:27px;
	padding-right:10px;
	font-size:12px;
	color:#ffffff;
	background:url(../images/video-time.png) no-repeat;
	position:absolute;
	top:85px;
	left:12px;
	}
.content .con_right .photo-list .music-content div{
	padding-left:12px;
	padding-top:8px;
	color:#636a6b;
	height:36px;
	font-weight:bold;
	}
.content .con_right .photo-list .music-content .list-current{
	background:#f8f8f8;
	}
.content .con_right .photo-list .music-content .list-sel{
	display:block;
	width:30px;
	height:20px;
	float:left;
	}
.content .con_right .photo-list .music-content .list-content{
	display:block;
	width:480px;
	height:24px;
	float:left;
	}
.content .con_right .photo-list .music-content .list-content img{
	padding-right:8px;
	}
.content .con_right .photo-list .music-content .list-dow{
	display:block;
	width:89px;
	height:24px;
	margin-right:16px;
	float:right;
	background:url(../images/list-dow.png) 0 0;
	}
.content .con_right .photo-list .music-content .list-dow:hover{
	background:url(../images/list-dow.png) 0px 24px;
	}
.page{
	padding:12px 30px;;
	height:24px;
	}
.page span,.page a{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	font-weight:bold;
	width:24px;
	height:26px;
	line-height:26px;
	text-align:center;
	text-decoration:none;
	margin-right:16px;
	float:left;
	}
.page .pre-next{
	width:56px;
	color:#6194bc;
	background:url(../images/page-pre-next.png) no-repeat;
	}
.page .pre-next:hover{
	background:url(../images/page-pre-next.png) 0px 26px;
	}
.page .number{
	display:block;
	width:26px;
	color:#64a92b;
	background:url(../images/page-number.png) no-repeat;
	}
.page .number:hover{
	background:url(../images/page-number.png) 0px 26px;
	}
